/* ------ VÁRIAVEIS ------ */
:root {
    --cor-principal: #2E2868;
    --cor-botao: #F7C311;
    --fonte-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: #1a1a1a;
}

/* ------ MENU ------ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 20px 5%;
    background-color: #52525283;
    position: relative;
    z-index: 100;
}

.logo img {
    height: 50px;
}

.nav-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-style: italic;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #F7C311;
}

/* --- BOTÃO VAGA MENU DESKTOP --- */
.btn-vaga {
    background-color: var(--cor-botao);
    color: white !important;
    padding: 12px 25px;
    border-radius: 8px;
    font-style: normal !important;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-vaga:hover {
    color: white;
    background-color: #cc9f0a00;
    border: 2px solid var(--cor-principal);
}

/* ------ MENU HAMBURGUER MOBILE ------ */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.bar {
    height: 3px;
    width: 30px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s ease;
}

/* ------ ANIMAÇÃO DO X MOBILE ------ */
#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

/* ------ RESPONSIVIDADE ------ */
@media (max-width: 992px) {
    .logo img {
        height: 35px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: 0.5s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links ul {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-button-container {
        margin-top: 20px;
    }
}