/* ------ VÁRIAVEIS ------ */
:root {
    --cor-principal: #2E2868;
    --cor-botao: #F7C311;
    --fonte-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: black
}

/* ------ MENU ------ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 20px 5%;
    background-color: #52525283;
    position: relative;
    z-index: 100;
}

.logo img {
    height: 50px;
}

.nav-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-style: italic;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #F7C311;
}

/* --- BOTÃO VAGA MENU DESKTOP --- */
.btn-vaga {
    background-color: var(--cor-botao);
    color: white !important;
    padding: 12px 25px;
    border-radius: 8px;
    font-style: normal !important;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-vaga:hover {
    color: white;
    background-color: #cc9f0a00;
    border: 3px solid var(--cor-principal);
}

/* ------ MENU HAMBURGUER MOBILE ------ */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.bar {
    height: 3px;
    width: 30px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s ease;
}

/* ------ ANIMAÇÃO DO X MOBILE ------ */
#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

/* ------ HERO SECTION ------ */
.hero {
    padding: 60px 5% 0 5%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-content {
    flex: 1;
    color: white;
}

.hero-logo {
    width: 100%;
    max-width: 580px;
    margin-bottom: 30px;
}

.hero-content h1 {
    font-size: 2.2rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 10px;
    font-style: italic;
    opacity: 0.9;
}

.vagas-alerta {
    display: block;
    color: #F7C311;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 1rem;
}

.btn-hero {
    background-color: #2E2868;
    color: white;
    padding: 18px 40px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    transition: 0.3s;
}

.btn-hero:hover {
    transform: scale(1.05);
    background-color: #3e368a;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ------ RESPONSIVIDADE ------ */
@media (max-width: 992px) {
    .logo img {
        height: 35px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: 0.5s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links ul {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-button-container {
        margin-top: 20px;
    }

    /* ------ SECTION HERO ------ */
    .hero {
        padding-top: 40px;
    }

    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-image {
        width: 100%;
        justify-content: center;
    }

    .hero-image img {
        max-height: 400px;
    }

    .hero-logo {
        max-width: 300px;
        margin: -80px 0 20px 0;
    }

    .hero-content h1 {
        font-size: 1.1rem;
        font-weight: 600;
        font-style: italic;
        margin-bottom: 15px;
        line-height: 1.2;
    }
    .hero-content p {
        font-size: 0.7rem;
        margin-bottom: 10px;
        font-style: italic;
        opacity: 0.9;
    }

    .vagas-alerta {
        display: block;
        color: #F7C311;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 30px;
        font-size: 0.9rem;
    }

    .btn-hero {
        width: 100%;
        max-width: 300px;
    }
}