/* ---- VÁRIAVEIS ---- */
:root {
    --fonte: 'Montserrat', sans-serif;
    --cor_fundo: #000;
    --cor_fundo_menu: #1e1e1e;
    --cor_fonte: #ffffff;
    --cor_primaria: #2E2868;
    --cor_detalhe: #F7C311;
}

/* ---- REGRAS PADRÃO DO SITE ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background-color: var(--cor_fundo);
    color: var(--cor_fonte);
    overflow-x: hidden;
}

/* ------ CABEÇALHO (MENU) ------ */
.cabecalho {
    background-color: var(--cor_fundo_menu);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-menu img {
    height: 55px;
}

/* --  BOTÃO HAMBURGUER -- */
.btn-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburguer {
    width: 100%;
    height: 3px;
    background: var(--cor_fonte);
    border-radius: 10px;
    transition: 0.3s;
}

.btn-mobile.active .hamburguer:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.btn-mobile.active .hamburguer:nth-child(2) {
    opacity: 0;
}

.btn-mobile.active .hamburguer:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* -- OPÇÃO DO MENU -- */
.nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--cor_fundo_menu);
    padding: 2rem;
    text-align: center;
}

.nav.active {
    display: flex;
}

.menu {
    list-style: none;
}

.menu li a {
    display: block;
    padding: 0.8rem;
    color: var(--cor_fonte);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 540;
    font-style: italic;
}

/* -- BOTÃO MENU -- */
.btn-vaga {
    background-color: var(--cor_detalhe);
    color: #000;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 540;
    font-style: italic;
}

/* ------ SEÇÃO 1 ------ */
.hero {
    padding: 120px 0 80px 0;
    text-align: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-imagem img {
    width: 100%;
    max-width: 430px;
    margin-bottom: -55px;
}

.hero-logo-main {
    width: 100%;
    max-width: 510px;
    margin-bottom: 30px;
}

.hero-titulo {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-texto {
    font-size: 0.8rem;
    opacity: 0.9;
    margin-bottom: 20px;
    padding: 0 15px;
}

.vagas-alerta{
    color: var(--cor_detalhe);
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 40px;
}

.btn-hero-vaga {
    background-color: var(--cor_primaria);
    color: #fff;
    padding: 18px 40px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 800;
    font-style: italic;
    display: inline-block;
    width: 90%;
    max-width: 320px;
}

/* ------ SOBRE (FUNDO CINZA) ------ */
.sobre {
    background-color: #E1E1E1;
    border-radius: 40px 40px 0 0;
    padding-bottom: 80px;
    position: relative;
    z-index: 10;
    margin-top: 50px;
    overflow: hidden;
}

.contador-wrapper {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}

.timer {
    background-color: var(--cor_primaria);
    display: flex;
    justify-content: space-around;
    padding: 15px 10px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.tempo-unidade span {
    display: block;
    color: var(--cor_detalhe);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

.tempo-unidade p {
    font-size: 0.7rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

.sobre-info {
    text-align: center;
    padding: 40px 25px 20px 25px;
    color: var(--cor_primaria);
    max-width: 800px;
    margin: 0 auto;
}

.sobre-titulo {
    font-style: italic;
    font-weight: 800;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.sobre-texto {
    font-style: italic;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
}

/* --- CARROSSEL INFINITO --- */
.marquee-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 10px 0;
}

.marquee-track {
    display: flex;
    gap: 20px;
    width: max-content;
}

.marquee-track .foto {
    flex: 0 0 280px;
}

.marquee-track .foto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* ANIMAÇÕES */
@keyframes scrollEsquerda {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-280px * 4 - 20px * 4));
    }
}

@keyframes scrollDireita {
    from {
        transform: translateX(calc(-280px * 4 - 20px * 4));
    }
    to {
        transform: translateX(0);
    }
}

.track-superior {
    animation: scrollEsquerda 25s linear infinite;
}

.track-inferior {
    animation: scrollDireita 25s linear infinite;
}

/* --- DESKTOP --- */
@media (min-width: 1000px) {

    /* ------ CABEÇALHO (MENU) ------- */
    .cabecalho {
        background-color: var(--cor_fundo_menu);
        padding: 1rem 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    .btn-mobile {
        display: none;
    }

    /* -- OPÇÃO DO MENU -- */
    .nav {
        display: flex !important;
        position: static;
        width: auto;
        background: none;
        padding: 0;
        flex-direction: row;
    }

    .menu {
        display: flex;
    }

    .menu li a:hover {
        color: #F7C311;
    }

    .btn-vaga:hover{
        background-color: #ddae12;
    }

    /* ------ SEÇÃO 1 ------ */
    .hero-container {
        flex-direction: row-reverse;
        text-align: left;
        padding: 55px 5%;
        gap: 100px;
    }

    .hero-imagem img {
        max-width: 700px;
        margin-bottom: -55px;
    }

    .hero-logo-main {
        max-width: 600px;
        margin-bottom: 30px;
    }

    .hero-titulo {
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .hero-texto {
        font-size: 1rem;
        opacity: 0.9;
        padding: 0;
    }

    .vagas-alerta{
        color: var(--cor_detalhe);
        font-weight: bold;
        font-size: 1rem;
    }

    .marquee-track .foto {
        flex: 0 0 400px;
    }

    .marquee-track .foto img {
        height: 280px;
    }

    @keyframes scrollEsquerda {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-400px * 4 - 20px * 4));
        }
    }

    @keyframes scrollDireita {
        from {
            transform: translateX(calc(-400px * 4 - 20px * 4));
        }
        to {
            transform: translateX(0);
        }
    }
}